{% extends "torneo/base.html" %}
{% load staticfiles %}

{% block title %}preferenze utente{% endblock %}
{#{% block squadreli %}class="active"{% endblock %}#}

{% block content %}




<form action="" method="post">{% csrf_token %}
  {% if form.iscritto.value %}
  <input type="submit" class="btn btn-default" value="Annulla l'iscrizione" />
  {% else %}
  <input type="hidden" name="iscritto" value="yes"></input>
  <input type="submit" class="btn btn-primary" value="Iscriviti" />
  {% endif %}
</form>


{% endblock %}








