{% extends "torneo/base.html" %}
{% load staticfiles %}

{% block title %}Regolamento{% endblock %}
{% block regolamentoli %}class="active"{% endblock %}

{% block content %}

<div id="regolamento">
<h1>REGOLAMENTO PRIMO CAMPIONATO MARIO KART 8</h1>

<p>L'Almo Collegio D. Timpano è lieto di ospitare il primo grande campionato interstudentesco di Mario Kart 8. Questa manifestazione sportiva ha lo scopo di aiutare il normalista medio a
fraternizzare con i suoi compagni di corso, facendolo divertire nella più totale spensieratezza e rilassarsi dalle molteplici fatiche dello studio quotidiano.</p>

<h2>PARTECIPANTI</h2>

<p>La competizione è aperta a tutti gli studenti del collegio Timpano più eventuali esterni interessati alla competizione. Ogni squadra è formata da una coppia di giocatori, riconoscibili da un nome
e un simbolo da associare al proprio team.</p>
<p>È auspicabile che le squadre siano più equilibrate possibile per favorire uno svolgimento intenso della competizione.</p>

<h2>ORGANIZZAZIONE</h2>

<p>Il campionato è diviso in due fasi: girone all'italiana e finali a doppia eliminazione.</p>

<h3>GIRONE ALL'ITALIANA</h3>

<p>La prima fase del campionato prevede che ogni squadra affronti tutte le altre due volte. La sfida fra due squadre avviene secondo la seguente modalità:
  <ul>
    <li>Sfida: sfida individuale</li>
    <li>Numero corse: 8</li>
    <li>Categoria: 150 cc</li>
    <li>CPU: difficile</li>
    <li>Oggetti: Tutti gli oggetti</li>
    <li>Piste: casuali</li>
    <li>Veicoli: Tutti i veicoli</li>
  </ul>
</p>

<p>Al termine della sfida (cioè dopo aver effettuato 8 corse), ad ogni squadra viene associato un punteggio pari alla somma dei punti realizzati dai propri giocatori.
Se i punteggi conseguiti dalle due squadre sono uguali, allora la sfida termina in parità e in classifica nessuna squadra guadagna alcunché. 
Se invece i punteggi totali sono diversi, allora si considera la differenza fra quello maggiore e quello minore (in modo che sia positiva). 
La squadra che ha realizzato il punteggio più alto vince la sfida e ottiene un numero di punti in campionato pari a
  <ul>
    <li>1 se lo scarto è maggiore stretto di 0 e minore o uguale di 10</li>
    <li>2 se lo scarto è maggiore stretto di 10 e minore o uguale di 30</li>
    <li>3 se lo scarto è maggiore stretto di 30</li>
  </ul>
</p>

<p>La squadra vincente:
  <ul>
    <li>Somma i punti ottenuti nella sfida a quelli già eventualmente accumulati nelle sfide precedenti</li>
    <li>Somma la differenza punti conseguita in questa sfida al suo scarto totale in campionato eventualmente accumulato negli scontri precedenti</li>
  </ul>
</p>

<p>La squadra perdente:
  <ul>
    <li>Mantiene lo stesso punteggio in campionato che possedeva prima della sfida</li>
    <li>Sottrae la differenza punti conseguita in questa sfida al suo scarto totale in campionato eventualmente accumulato negli scontri precedenti.</li>
  </ul>
</p>

<p>La classifica è ordinata in base al numero di punti realizzati nelle varie sfide. Nel caso due squadre abbiano lo stesso numero di punti, allora
ha la precedenza in classifica quella con lo scarto totale maggiore.</p>


<h3>DOPPIA ELIMINAZIONE</h3>

<p>Al termine del girone all'italiana (cioè dopo che ogni squadra ha affrontato tutte le altre due volte), 
  le prime 8 squadre in campionato accedono alla seconda ed ultima fase del campionato detta "a doppia eliminazione".
</p>
<p>
  Questa modalità si suddivide in 4 turni successivi. In tutti i turni le sfide fra le squadre avvengono con le stesse modalità del girone all'italiana, con
  la sola differenza nel numero di corse da effettuare:
  <ul>
    <li>TURNO 1: 12 corse</li>
    <li>TURNO 2: 16 corse</li>
    <li>TURNO 3: 32 corse</li>
    <li>TURNO 4: 48 corse</li>
  </ul>
</p>

<p>Inoltre, cambia il criterio di assegnazione della vittoria per tutti i turni. Dopo aver determinato la differenza punti fra le due squadre al termine delle N corse 
(dove N è 12, 16, 32, 48 rispettivamente nel primo, secondo, terzo e quarto turno) possono esserci due casi:
  <ul>
    <li>Se tale differenza è strettamente maggiore di N, allora la squadra che ha conseguito il punteggio più alto vince la sfida</li>
    <li>Se tale differenza è minore o uguale di N, allora le due squadre si affrontano in 4 corse addizionali. La squadra che al termine di queste corse
      realizza il punteggio totale più alto vince la sfida. In caso di parità, si ripete questo passaggio finché non viene determinato un vincitore.</li>
  </ul>
</p>

<p>Segue una breve descrizione della modalità a doppia eliminazione.</p>

<p>Considerando la classifica finale del girone all'italiana, le prime quattro squadre (posizione 1 - 4) formano il girone superiore, mentre le altre quattro
(posizione 5 - 8) formano il girone inferiore. Da qui inizia il primo turno.</p>


<h4>PRIMO TURNO (12 corse)</h4>

<p>Indicando con le cifre da 1 a 8 le squadre (in base alla classifica finale nella classifica), nel primo turno avvengono le seguenti sfide:
  
  <h5>GIRONE SUPERIORE</h5>
  <ul>
    <li>SFIDA A: 1 - 4</li>
    <li>SFIDA B: 2 - 3</li>
  </ul>

  <h5>GIRONE INFERIORE</h5>
  <ul>
    <li>SFIDA C: 5 - 8</li>
    <li>SFIDA D: 6 - 7</li>
  </ul>
</p>

<p>Al termine di questo turno, le squadre sconfitte nelle sfide C e D vengono eliminate collocandosi a pari merito alla SETTIMA posizione. Le squadre sconfitte
nelle sfide A e B invece escono dal girone superiore e accedono al girone inferiore. Pertanto restano in gioco 6 squadre.</p>

<h4>SECONDO TURNO (16 corse)</h4>

<p>Nel secondo turno avvengono le seguenti sfide:
  
  <h5>GIRONE SUPERIORE</h5>
  <ul>
    <li>SFIDA X: Vincente sfida A - Vincente sfida B</li>
  </ul>

  <h5>GIRONE INFERIORE</h5>

  <ul>
    <li>SFIDA Y: Vincente sfida C - Perdente sfida A</li>
    <li>SFIDA Z: Vincente sfida D - Perdente sfida B</li>
  </ul>
</p>

<p>Al termine di questo turno, le squadre sconfitte nelle sfide Y e Z vengono eliminate collocandosi a pari merito alla QUINTA posizione. La squadra sconfitta
nella sfida X esce dal girone superiore e accede al girone inferiore. La squadra vincente nella sfida X è la vincitrice del girone superiore e accede
automaticamente al quarto turno.
Dunque restano in gioco complessivamente 4 squadre.</p>

<h4>TERZO TURNO (32 corse)</h4>

<p>Il terzo turno si svolge inizialmente nel girone inferiore, e prevede lo scontro
<br/>
Vincente sfida Y - Vincente sfida Z
<br/>
La squadra sconfitta viene eliminata collocandosi alla QUARTA posizione.
</p>

<p>La vincente di questa sfida affronta la squadra perdente della sfida X avvenuta nel secondo turno: la coppia sconfitta viene eliminata e si classifica al TERZO posto,
mentre la squadra vincente acquisisce il titolo di vincitrice del girone inferiore e accede al quarto ed ultimo turno.</p>

<h4>QUARTO TURNO: FINALI (48 corse)</h4>

<p>Le ultime due squadre rimaste, ovvero le vincitrici dei due gironi, si affrontano nella FINALE del campionato su tutte le 48 piste.
Data l'assenza di tale modalità nel software di Mario Kart 8, le due finaliste si scontrano in due blocchi di 16 e 32 corse rispettivamente, avendo cura
  di selezionare le piste IN ORDINE e tenendo conto della somma dei punti TOTALI realizzati in entrambi i blocchi.</p>

<p>La squadra perdente si classifica al SECONDO posto nell'intero campionato.<br/>
La squadra vincente, deh, ovviamente vince il campionato.</p>


<h3>VARIE ED EVENTUALI</h3>

<p>Ecco alcuni dettagli organizzativi delle varie fasi:
  <ul>
    <li>la sfida è prevista tra coppie di giocatori. In caso di
      assenza di uno dei componenti la sfida può essere rimandata. In
      caso non fosse possibile, la sfida avviene ugualmente in questo
      modo: la sfida viene effettuata su 16 corse anziché 8, la
      squadra mancante di un giocatore schiera l'unico disponibile,
      l'altra invece schiera per le prime 8 corse uno e per le seconde
      8 corse l'altro. I criteri di vittoria sono gli stessi. Nel caso
      della necessità di eseguire le 4 corse addizionali, i due
      giocatori della stessa squadra si dividono allo stesso modo le
      corse.</li>
    <li>data la presenza del PADELLO che genera confusione fra i
    giocatori si procede in questo modo. Se ENTRAMBE o NESSUNA delle
    squadre vuole utilizzare il PADELLO, si decide a sorte quale lo
    utilizza nella sfida di andata e automaticamente nella sfida di
    ritorno lo utilizzerà l'altra squadra. Se solo UNA delle squadre
    vuole utilizzare il padello, lo utilizza in entrambe le
      sfide.</li>
  </ul>
</p>
<p>Per precisazioni non esisate a contattare:
  <ul>
    <li>Piero Lafiosca, camera 412,
      <a href="mailto:piero.lafiosca@sns.it">piero.lafiosca@sns.it</a></li>
    <li>Gianluca Tasinato, camera 503,
      <a href="mailto:gianluca.tasinato@sns.it">gianluca.tasinato@sns.it</a></li>
  </ul>
</p>

</div>

{% endblock %}








