{% extends "torneo/base.html" %}
{% load staticfiles %}

{% block title %}Regolamento{% endblock %}
{% block regolamentoli %}class="active"{% endblock %}

{% block content %}

<div id="regolamento">
<h1>REGOLAMENTO PRIMO CAMPIONATO MARIO KART 8</h1>

<p>L'Almo Collegio D. Timpano è lieto di ospitare il primo grande campionato interstudentesco di Mario Kart 8. Questa manifestazione sportiva ha lo scopo di aiutare il normalista medio a
fraternizzare con i suoi compagni di corso, facendolo divertire nella più totale spensieratezza e rilassarsi dalle molteplici fatiche dello studio quotidiano.</p>

<h2>PARTECIPANTI</h2>

<p>La competizione è aperta a tutti gli studenti del collegio Timpano più eventuali esterni interessati alla competizione. Ogni squadra è formata da una coppia di giocatori, riconoscibili da un nome
e un simbolo da associare al proprio team.</p>
<p>È auspicabile che le squadre siano più equilibrate possibile per favorire uno svolgimento intenso della competizione.</p>

<h2>ORGANIZZAZIONE</h2>

<p>Il campionato è diviso in due fasi: girone all'italiana (o Robin Round) e finali a doppia eliminazione.</p>

<h3>GIRONE ALL'ITALIANA</h3>

<p>(NB Per evitare ambiguità, in seguito indicheremo come "centimetri" i punti realizzati nelle corse da parte di ogni giocatore e come "lunghezza" la somma di essi).</p>

<p>In questa fase ogni squadra affronta tutte le altre due volte (il calendario delle partite è visualizzabile online) secondo la seguente modalità:
  <ul>
    <li>Sfida: sfida individuale</li>
    <li>Numero corse: 8</li>
    <li>Categoria: 150 cc</li>
    <li>CPU: difficile</li>
    <li>Oggetti: Tutti gli oggetti</li>
    <li>Piste: casuali</li>
    <li>Veicoli: Tutti i veicoli</li>
  </ul>
</p>

<p>Ogni giocatore di ogni coppia è completamente autonomo durante le 8 corse di ogni singola sfida, anche se è lecito supportare il proprio compagno di squadra durante ogni gara.</p>
<p>Al termine delle 8 corse, ad ogni squadra viene associata una
  lunghezza pari alla somma dei centimetri dei due giocatori della
  coppia. Se tale lunghezza è uguale allora è un caso di parità e
  nessuna delle squadre guadagna punti in campionato. Se invece la
  lunghezza non è uguale, si considera lo scarto fra quello maggiore e
  quello minore. A seconda dello scarto la squadra vincente guadagna
  un numero di punti in campionato pari a:
  <ul>
    <li>1 se lo scarto è minore o uguale di 10</li>
    <li>2 se lo scarto è maggiore stretto di 10 e minore o uguale di 30</li>
    <li>3 se lo scarto è maggiore stretto di 30</li>
  </ul>
</p>

<p>Ad ogni squadra in campionato si associano due parametri:
  <ol>
    <li>il punteggio totale realizzato, dato dalla somma dei punti ottenuti in caso di vittoria di una sfida;</li>
    <li>la differenza in centimetri, data dalla somma CON SEGNO di
    tutti gli scarti in ogni sfida con un'altra squadra. Dunque se la
    coppia risulta vincente, lo scarto si somma alla differenza in
    centimetri, altrimenti si sottrae.</li>
  </ol>
La classifica parziale del campionato è ordinata in primis secondo il
  punteggio totale e in secundis secondo la differenza in centimetri.
</p>

<h3>DOPPIA ELIMINAZIONE</h3>

<p>Al termine del girone all'italiana (cioè quando ogni squadra ha affrontato tutte le altre due volte), le prime 8 squadre in campionato si scontrano in una fase ad a doppia eliminazione.</p>
<p>Le prime 4 squadre in classifica (posizione 1 - 4) formano il girone superiore, le altre 4 (posizione 5 - 8) il girone inferiore.</p>
<p>La fase a doppia eliminazione prosegue per sfide tra squadre dei medesimi gironi in questo modo: nel girone superiore, la squadra vincente passa il turno, la squadra perdente invece precipita nel girone inferiore; nel girone inferiore, la squadra vincente passa il turno, mentre quella perdente viene eliminata dal torneo. Ogni turno di questa fase prosegue con un aumento progressivo del numero di corse a parità di tutte le altre condizioni.</p>
<p>La vittoria in ogni sfida è assegnata alla squadra che realizza la
  lunghezza più elevata con uno scarto maggiore o uguale al NUMERO DI
  CORSE della sfida. In caso di parità, si eseguono altre 4 corse
  addizionali con lo stesso criterio (almeno 4 centimetri di scarto)
  finché non si determina un vincitore.</p>


<h4>PRIMO TURNO (12 corse)</h4>

<p>Indicando con 1 - 8 le squadre in base alla classifica finale del girone all'italiana, nel primo turno ci sono le seguenti sfide:
  
  <h5>GIRONE SUPERIORE</h5>
  <ul>
    <li>SFIDA A: 1 - 4</li>
    <li>SFIDA B: 2 - 3</li>
  </ul>

  <h5>GIRONE INFERIORE</h5>
  <ul>
    <li>SFIDA C: 5 - 8</li>
    <li>SFIDA D: 6 - 7</li>
  </ul>
</p>

<h4>SECONDO TURNO (16 corse)</h4>

<p>Al secondo turno (dopo l'eliminazione delle squadre perdenti della sfida C e D) ci sono le seguenti sfide:
  
  <h5>GIRONE SUPERIORE</h5>
  <ul>
    <li>SFIDA X: Vincente sfida A - Vincente sfida B</li>
  </ul>

  <h5>GIRONE INFERIORE</h5>

  <ul>
    <li>SFIDA Y: Vincente sfida C - Perdente sfida A</li>
    <li>SFIDA Z: Vincente sfida D - Perdente sfida B</li>
  </ul>
</p>

<h4>TERZO TURNO (32 corse)</h4>

<p>Il terzo turno si svolge inizialmente nel girone inferiore, e prevede lo scontro
<br/>
Vincente sfida Y - Vincente sfida Z
<br/>
La squadra sconfitta si classifica al QUARTO POSTO nell'intero
campionato.
</p>
<p>In seguito la vincente di questa sfida affronta la squadra perdente della sfida X. La coppia sconfitta si classifica TERZA nell'intero campionato.</p>

<h4>FINALI (48 corse)</h4>

<p>Le ultime due squadre rimaste (vincente sfida X e squadra sopravvisuta al terzo turno) si affrontano nella FINALE del campionato su tutte le 48 piste.</p>
<p>Data l'assenza di tale modalità, si effettueranno 4 blocchi da 12 corse ciascuna IN ORDINE tenendo conto dei punteggi relativi.</p>
<p>La squadra perdente si classifica al SECONDO POSTO nell'intero campionato.</p>
<p>La squadra vincente ottiene la vittoria nel I campionato di Mario Kart 8.</p>



<h3>VARIE ED EVENTUALI</h3>

<p>Ecco alcuni dettagli organizzativi delle varie fasi:
  <ul>
    <li>la sfida è prevista tra coppie di giocatori. In caso di
      assenza di uno dei componenti la sfida può essere rimandata. In
      caso non fosse possibile, la sfida avviene ugualmente in questo
      modo: la sfida viene effettuata su 16 corse anziché 8, la
      squadra mancante di un giocatore schiera l'unico disponibile,
      l'altra invece schiera per le prime 8 corse uno e per le seconde
      8 corse l'altro. I criteri di vittoria sono gli stessi. Nel caso
      della necessità di eseguire le 4 corse addizionali, i due
      giocatori della stessa squadra si dividono allo stesso modo le
      corse.</li>
    <li>data la presenza del PADELLO che genera confusione fra i
    giocatori si procede in questo modo. Se ENTRAMBE o NESSUNA delle
    squadre vuole utilizzare il PADELLO, si decide a sorte quale lo
    utilizza nella sfida di andata e automaticamente nella sfida di
    ritorno lo utilizzerà l'altra squadra. Se solo UNA delle squadre
    vuole utilizzare il padello, lo utilizza in entrambe le
      sfide.</li>
  </ul>
</p>
<p>Per precisazioni non esisate a contattare:
  <ul>
    <li>Piero Lafiosca, camera 412,
      <a href="mailto:piero.lafiosca@sns.it">piero.lafiosca@sns.it</a></li>
    <li>Gianluca Tasinato, camera 503,
      <a href="mailto:gianluca.tasinato@sns.it">gianluca.tasinato@sns.it</a></li>
  </ul>
</p>

</div>

{% endblock %}








