{% extends "torneo/base.html" %}
{% load staticfiles %}

{% block title %}Regolamento{% endblock %}
{% block regolamentoli %}class="active"{% endblock %}

{% block content %}

<div id="regolamento">
  <h3>Scopo della manifestazione</h3>
  <p>Scopo di questo torneo è passare dei divertenti e sereni momenti in
    compagnia nel magnifico contesto dell'Almo Collegio D. Timpano. La
    manifestazione è di carattere non competitivo e non è valida per le
    qualificazioni di alcun altro torneo.</p>
  
  <h3>Modalità di gara</h3>
  <p>Le coppie si sfideranno tra di loro in modo che ogni coppia faccia
    circa una sfida a settimana in un unico girone. Alla fine le prime 8
    squadre si affronteranno in un torneo ad eliminazione diretta dal
    quale verrà scelto il vincitore.</p>
  
  <p>Le modalità di gara sono:
    <ul>
      <li>8 corse</li>
      <li>Categoria 150cc</li>
      <li>Tutti i veicoli</li>
      <li>Oggetti Normali</li>
      <li>Percorsi casuali</li>
    </ul>
  </p>
  
  <h3>Date importanti</h3>
  <ul>
    <li>Termine per le iscrizioni: 21 Febbraio 2016</li>
    <li>Inizio campionato: ASAP</li>
    <li>Fine campionato: alle calende greche</li>
  </ul>
  
</div>

{% endblock %}








