{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
    <title>Torneo di MK8 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'torneo/base.css' %}" />
<!--    <style type="css">
      tr td {
      height: 10px;
      }
    </style>-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/torneo">Torneo di MK8</a>
        </div>
      </div>
    </nav>

 
    <div class="container"> 
      <div>
	<h3>Le prime 10 squadre</h3>

	<table class="table table-hover table-striped table-condensed">
	  <thead>
	        <tr><th>Nome</th><th>Punteggio</th><th>Partite giocate</th></tr>
	  </thead>
	  <tbody>
	    {% for squadra in squadre %}
	    <tr>
	      <td>{{ squadra.nome }}</td>
	      <td>{{ squadra.punteggio }}</td>
	      <td>{{ squadra.npartite }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <div>
	<h3>I migliori giocatori</h3>
	<table class="table table-hover table-striped table-condensed">
	  <thead>
	        <tr><th>Nome</th><th>Lunghezza</th><th>Partite giocate</th></tr>
	  </thead>
	  <tbody>
	    {% for giocatore in giocatori %}
	    <tr>
	      <td>{{ giocatore.nome }}</td>
	      <td>{{ giocatore.lunghezza }}</td>
	      <td>{{ giocatore.npartite }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>

  </body>
</html>
