{% extends "torneo/base.html" %}

{% block title %}dettaglio squadra{% endblock %}
{% block squadreli %}class="active"{% endblock %}

{% block content %}
{% if squadra %}

<div class="squadracont">
  <div class="row">
    <div class="col-md-10">
      <div class="row boldcell">
	<div class="col-md-12"><h1>{{ squadra.nome }}{% if squadra.owner == user or user.is_superuser %} <a href="{% url 'torneo:squadremodifica' squadra.id %}"><span class="glyphicon glyphicon glyphicon-pencil"></span></a>{% endif %}</h1></div>
      </div>
      <div class="row">
	<div class="col-md-3 mycol">
	  <div class="row">
	    <div class="boldcell">Giocatore 1</div>
	  </div>
	  <div class="row">
	    <div>{{ squadra.giocatore1 }}</div>
	  </div>
	</div>
	<div class="col-md-1">
	  <div class="row">
	  </div>
	  <div class="row">
	  </div>
	</div>
	<div class="col-md-2 mycol">
	  <div class="row">
	    <div class="boldcell">Punteggio</div>
	  </div>
	  <div class="row">
	    <div>{{ squadra.punteggio }}</div>
	  </div>
	</div>
	<div class="col-md-2 mycol">
	  <div class="row">
	    <div class="boldcell">Scarto totale</div>
	  </div>
	  <div class="row">
	    <div>{{ squadra.lunghezza }}</div>
	  </div>
	</div>
	<div class="col-md-1">
	  <div class="row">
	  </div>
	  <div class="row">
	  </div>
	</div>
	<div class="col-md-3 mycol">
	  <div class="row">
	    <div class="boldcell">Giocatore 2</div>
	  </div>
	  <div class="row">
	    <div>{{ squadra.giocatore2 }}</div>
	  </div>
	</div>
      </div>
      {% if not squadra.confermata %}
      <div class="row">
	Squadra in attesa di conferma da parte di un admin
      </div>
      {% endif %}
    </div>
    <div class="col-md-2">
      <img src="{{ squadra.immagine.url }}" width="150">
    </div>
  </div>
</div>

{% if partite %}
<br/><br/><br/>
<div>
  <h2>Partite</h2>
  {% include 'torneo/partite_inner.html' with partite=partite %}
{% endif %}

{% else %}
Squadra not found
{% endif %}
{% endblock %}


