{% extends "torneo/base.html" %}

{% block title %}Dettaglio squadra{% endblock %}

{% block content %}
{% if squadra %}
<div class="squadracont">
  <div class="row boldcell">
    <div class="col-md-12"><h1>{{ squadra.nome }}</h1></div>
  </div>
  <div class="row">
    <div class="col-md-4 mycol">
      <div class="row">
	<div class="boldcell">Giocatore 1</div>
      </div>
      <div class="row">
	<div>{{ squadra.giocatore1 }}</div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="row">
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col-md-2 mycol">
      <div class="row">
	<div class="boldcell">Punteggio</div>
      </div>
      <div class="row">
	<div>{{ squadra.punteggio }}</div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="row">
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col-md-4 mycol">
      <div class="row">
	<div class="boldcell">Giocatore 2</div>
      </div>
      <div class="row">
	<div>{{ squadra.giocatore2 }}</div>
      </div>
    </div>
  </div>
</div>

{% if partite %}
<br/><br/><br/>
<div>
  <h2>Partite giocate</h2>
  <table class="table table-hover table-striped">
  <thead>
    <tr><th>Data</th><th>Squadra1</th><th>Squadra2</th><th>Risultato</th></tr>
  </thead>
  <tbody>
    {% for partita in partite %}
    <tr {% if partita.done %}{% else %}class=info{% endif %}>
      <td>{{ partita.data }}</td>
      <td><a href="{% url 'torneo:squadreid' partita.squadra1.id %}">
	  {{ partita.squadra1.nome }}</a></td>
      <td><a href="{% url 'torneo:squadreid' partita.squadra2.id %}">
	  {{ partita.squadra2.nome }}</a></td>
      <td>
	{% if partita.done %}{{ partita.punteggio1 }} - {{ partita.punteggio2 }}
	{% else %}Incognito
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endif %}

{% else %}
Squadra not found
{% endif %}
{% endblock %}


